<a href="https://colab.research.google.com/github/RuslanMavlitov/IDE/blob/master/AnomalyClustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Импортируем необходимые библиотеки

import pandas as pd
import numpy as np

from sklearn.cluster import DBSCAN
from sklearn.cluster import AgglomerativeClustering

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Загрузим данные

anomaly_df = pd.read_csv("/content/anomaly_sample.zip")
anomaly_df.head()

    timestamp  value  is_anomaly  predicted
0  1425008573     42       False  44.072500
1  1425008873     41       False  50.709390
2  1425009173     41       False  81.405120
3  1425009473     61       False  39.950367
4  1425009773     44       False  35.350160

In [3]:
# Посмотрим на данные
anomaly_df.describe()

          timestamp         value     predicted
count  1.583000e+04  15830.000000  15830.000000
mean   1.427383e+09     85.572205     71.870715
std    1.370962e+06    321.760918     92.450520
min    1.425009e+09      0.000000   -281.389070
25%    1.426196e+09     29.000000     32.919171
50%    1.427383e+09     47.000000     49.771124
75%    1.428570e+09     76.000000     75.948052
max    1.429757e+09  13479.000000   2716.127200

# Поищем аномалии, с помощью DBSCAN

In [18]:
dbscan = DBSCAN(eps=5, min_samples=10)

In [19]:
anomaly_df['prediction_dbscan_1'] = dbscan.fit_predict(anomaly_df['value'].values.reshape(-1, 1))
anomaly_df.head()

,timestamp,value,is_anomaly,predicted,prediction_dbscan_1,prediction_agglom_1
0,1425008573,42,False,44.072500,0,110
1,1425008873,41,False,50.709390,0,172
2,1425009173,41,False,81.405120,0,172
3,1425009473,61,False,39.950367,0,132
4,1425009773,44,False,35.350160,0,64

In [20]:
# Обнаруженные аномалии
anomaly_df[anomaly_df.prediction_dbscan_1 < 0]

,timestamp,value,is_anomaly,predicted,prediction_dbscan_1,prediction_agglom_1
163,1425057473,440,True,134.68460,-1,474
164,1425057773,477,True,126.21005,-1,424
1360,1425416573,1698,True,101.33967,-1,303
1361,1425416873,3228,True,148.82149,-1,479
1362,1425417173,2234,True,209.43730,-1,318
...,...,...,...,...,...,...
15464,1429647773,2510,True,407.38986,-1,328
15465,1429648073,1299,True,388.84045,-1,462
15466,1429648373,714,False,456.41663,-1,390
15467,1429648673,576,False,323.31930,-1,380
15749,1429733273,838,True,74.22103,-1,310

# Поиск аномалий с помощью агломеративной кластеризации

In [15]:
agglom = AgglomerativeClustering(n_clusters=None, distance_threshold=2)

In [16]:
anomaly_df['prediction_agglom_1'] = agglom.fit_predict(anomaly_df['value'].values.reshape(-1, 1))
anomaly_df.head()

,timestamp,value,is_anomaly,predicted,prediction_dbscan_1,prediction_agglom_1
0,1425008573,42,False,44.072500,0,110
1,1425008873,41,False,50.709390,0,172
2,1425009173,41,False,81.405120,0,172
3,1425009473,61,False,39.950367,0,132
4,1425009773,44,False,35.350160,0,64

In [17]:
valcount = anomaly_df['prediction_agglom_1'].value_counts()
valcount = set(valcount[valcount == 1].index)
anomaly_df[anomaly_df.prediction_agglom_1.isin(valcount)]

,timestamp,value,is_anomaly,predicted,prediction_dbscan_1,prediction_agglom_1
1360,1425416573,1698,True,101.33967,-1,303
1361,1425416873,3228,True,148.82149,-1,479
1362,1425417173,2234,True,209.43730,-1,318
1363,1425417473,1452,True,184.03752,-1,357
1364,1425417773,865,False,287.14713,-1,508
...,...,...,...,...,...,...
15463,1429647473,2826,True,382.82983,-1,453
15464,1429647773,2510,True,407.38986,-1,328
15465,1429648073,1299,True,388.84045,-1,462
15466,1429648373,714,False,456.41663,-1,390
15749,1429733273,838,True,74.22103,-1,310